

h1{
    color: white;
        background-color: black;
    }
    
    
    
    div,input{
    
        text-align: center;
        font-size: 30px;
    }
    
    button{
        font-size: 30px;
        background-color: white;
        color: green;
    }