button{
    width: 60px;
    height: 30px;
    font-weight: bolder;
   background-color: green; 
    color: white;
    border: green solid 2px;
    margin-left: 5px;
    cursor:grab;
  }



  h1{
    text-align: center;
    color: white;
    background-color: black
  }
  
  
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }


th{
  color:white;
background-color:black

}


div{
  text-align: center;
}
